<div class="container">
  <div class="header">
    <button class="mat-raised mat-info mat-button mat-ink-ripple" type="button" (click)="getRandomImage()">
      <span>Random Example</span>
      <i class="fa fa-cubes" aria-hidden="true"></i>
      <div class="mat-ripple-container" style=""></div>
    </button>
    <h3>Click "Random Example" to get a example!</h3>
  </div>
  
  <div layout="row" class="img-area">
    <div class="img-wrapper">
      <img *ngIf="info != undefined && info.active != undefined && info.active.imgURL" [src]="info.active.imgURL" alt="">
    </div>
  </div>

  <div layout="row" class="lf-ng-mat-file-input-container layout-row">
    <div class="lf-ng-mat-file-input-caption layout-align-start-center layout-row flex disabled" layout="row" layout-align="start center" flex="" ng-class="{'disabled':isDisabled}">
      <mat-icon class="lf-icon material-icons lf-caption" aria-hidden="true"></mat-icon>
      <div flex="" class="lf-ng-mat-file-input-caption-text flex ng-hide" aria-hidden="true"></div>
      <mat-progress-bar mode="determinate" value="0" aria-valuemin="10" aria-valuemax="100" role="progressbar" aria-valuenow="0" aria-hidden="true" class="ng-hide">
      </mat-progress-bar>
    </div>
    <button class="mat-raised" type="button" ng-transclude="" aria-label="remove all files">
      <mat-icon class="lf-icon material-icons lf-remove" aria-hidden="true"></mat-icon>
      <span> Remove</span>
    </button>
    <button class="mat-raised mat-primary mat-button mat-ink-ripple" type="button" ng-transclude="" ng-click="openDialog($event, this)">
      <mat-icon class="lf-icon material-icons lf-browse" aria-hidden="true"></mat-icon>
      <span> Browse</span>
      <!-- <input type="file" aria-label="" accept="" class="lf-ng-mat-file-input-tag" disabled="disabled"> -->
    </button>
  </div>

  <div class="outputAnalyse"></div>
</div>