<div class="container">
  <div class="header">
    <button mat-raised-button type="button" (click)="getRandomImage()">
      <span>Random Example</span>
      <i class="fa fa-cubes" aria-hidden="true"></i>
      <div class="mat-ripple-container" style=""></div>
    </button>
    <h5>Click "Random Example" to get a example!</h5>
  </div>
  
  <div layout="row" class="img-area">
    <div class="img-wrapper">
      <div *ngIf="info != undefined && info.active != undefined && info.active.status == 1" class="img-ctrl">
        <div class="ctrl">
            <button mat-icon-button color="primary" (click)="closeImg()">
              <mat-icon aria-label="cansel">cancel</mat-icon>
            </button>
        </div>
        <img [src]="info.active.imageURL" alt="">
      </div>
    </div>
  </div>

  <div layout="row" class="file-ctrl">
    <button class="mat-raised-button" color="warn" type="button" aria-label="remove all files">
      <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
      <span> Remove</span>
    </button>
    <button class="mat-raised-button mat-primary mat-button mat-ink-ripple" color="primary" type="button">
      <i class="fa fa-folder-open-o fa-2x" aria-hidden="true"></i>
      <span> Browse</span>
    </button>
  </div>

  <div *ngIf="info.active.status == 1" class="main-content">
    <mat-progress-bar *ngIf="info.active.status != undefined && info.active.status=='2'" mode="indeterminate"></mat-progress-bar>
    <div class="output">
      <div class="output-header">
        <h4>{{info.active.text}}</h4>
      </div>
      <div class="emotions row">
        <div  *ngFor="let option of info.options" class="item col-md-4 col-sm-4 col-xs-6">
            <p>{{option.principal.main}}</p>
            <img [src]="'assets/emotions/'+option.principal.main+'.gif'" alt="">
            <chart [options]="option.op" (load)="reload($event.context)"></chart>
        </div>
      </div>
    </div>

  </div>

</div>
<!--  -->