<div class="container dashboard">
  <h3>Welcome to modemos!</h3>
  <div class="ld">
    <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>
          <a routerLink="/emotions">Multimodal Emotion Classifier (Not yet)</a>
        </mat-grid-tile>
        <mat-grid-tile>
          <a routerLink="/hate">Hate Speech Classifier</a>
        </mat-grid-tile>
        <mat-grid-tile>
          <a routerLink="/text-emotions">Hate Speech Classifier</a>
        </mat-grid-tile>
        <!-- <mat-grid-tile>Comming soon!</mat-grid-tile> -->
      </mat-grid-list>
  </div>
</div>
